JsonDemo/bin/*
JsonDemo/gen/*
JsonDemo/libs/*
JsonDemo/AndroidManifest.xml
JsonDemo/ic_launcher-web.png
JsonDemo/lint.xml
JsonDemo/proguard-project.txt
JsonDemo/project.properties
ServerJsonDemo/bin
ServerJsonDemo/WebRoot
ServerJsonDemo/work
ServerJsonDemo/build.xml
ServerJsonDemo/.tomcatplugin
ServerJsonDemo/.classpath
ServerJsonDemo/.directory
ServerJsonDemo/.DS_Store
ServerJsonDemo/.mymetadata
ServerJsonDemo/.project
ServerJsonDemo/.settings
ServerJsonDemo/.myeclipse
.directory
#.gitignore
